* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1320px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
/* <------HEADER BLOCK-------> */
.header {
  background: linear-gradient(
      180deg,
      rgba(252, 11, 13, 0.2) -17.21%,
      rgba(74, 153, 211, 0) 75.91%
    ),
    #ffffff;
  opacity: 1;
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
  height: 105px;
  max-height: 105px;
}
.header__row {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__item {
  flex: 1 0 50%;
  display: flex;
  justify-content: center;
}
.header__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #4a99d3;
}
.header__buttons {
  display: flex;
  align-items: center;
}

.header__login {
  display: flex;
  align-items: center;
}
.header__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #0f001a;
}
.header__sell {
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
  .header__buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 376px) {
  .header__text {
    display: none;
  }
  .header__buttons {
    justify-self: end;
  }
}

/* <------SEARCH BLOCK-------> */
.search {
  margin-top: 21px;
}
.search__container {
  height: 365px;
  background-color: #eaf6ff;
  position: relative;
  display: flex;
  align-items: center;
}
.search__column {
  margin-left: 130px;
}
.search__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.search__bar {
  border: 3px solid rgba(252, 11, 13, 1);
  border-radius: 20px;
  width: 575px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__leanse {
  max-width: 100px;
  padding-left: 40px;
}
.search__input {
  width: 380px;
  height: 20px;
  background-color: #eaf6ff;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #004b84;
}
.search__input:focus {
  outline: none;
}
.search__input::placeholder {
  color: #004b84;
}
.search__sliders {
  padding-right: 30px;
}
.search__bgimg {
  position: absolute;
  max-width: 436px;
  bottom: -74px;
  right: 88px;
  display: block;
}
@media (max-width: 1320px) {
  .search__container {
    justify-content: center;
  }
  .search__column {
    margin-left: 0;
  }
  .search__bar {
    width: 100%;
  }
  .search__input {
    width: 95%;
  }
  .search__bgimg {
    opacity: 0;
    z-index: -999;
  }
}
@media (max-width: 376px) {
  .search__sliders {
    padding-right: 10px;
  }
  .search__leanse {
    padding-left: 0px;
  }
}

/* <------VIEWCARDS BLOCK-------> */

.viewcards {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.viewcards__row {
  display: flex;
  justify-content: space-between;
}
.viewcards__card {
  flex: 0 1 50%;
  height: 303px;

  background-color: #fafafa;

  display: flex;

  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.viewcards__card:first-child {
  margin-right: 25px;
}
.viewcards__card:last-child {
  margin-left: 25px;
}
.viewcards__textColumn {
  padding: 0px 28px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.viewcards__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 29.65px;
  line-height: 36px;
}
.viewcards__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20.65px;
  line-height: 25px;
  padding: 22px 0px;
}
.viewcards__button button {
  background-color: #fc0b0d;
  border: none;
  width: 153px;
  height: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20.65px;
  line-height: 25px;
  border-radius: 10px;
}
.viewcards__img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1320px) {
  .viewcards__row {
    flex-wrap: wrap;
  }
  .viewcards__card {
    flex: 1 1 50%;
  }
  .viewcards__card:first-child {
    margin-right: 1px;
    margin-bottom: 10px;
  }
  .viewcards__card:last-child {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .viewcards__card:first-child {
    margin-right: 25px;
    margin-left: 25px;
  }
  .viewcards__card:last-child {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media (max-width: 550px) {
  .viewcards__img {
    display: none;
  }
  .viewcards__textColumn {
    padding: 0px 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media(max-width:426px){
  .viewcards {
    margin-top: 30px;
  }
}

/* <------PRODUCTS BLOCK-------> */

.products {
  margin-top: 137px;
}
.products__box {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px;
}
.products__item {
  flex: 1 1 25%;
  padding: 0px 10px;
  margin-bottom: 80px;
}
.products__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 368px;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
}
.products__image {
  display: flex;
  align-items: center;
  height: 265px;
  width: 100%;
}
.products__image img {
  max-width: 100%;
  height: auto;
}
.products__info {
  padding-left: 8px;
}
.products__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.products__pricecondition {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #eb3223;
}
.products__condition {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.08em;
  color: #fff;

  width: 40px;
  height: 16px;

  background-color: #f12b2c;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
}
.products__placetime {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__place {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.5;
}
.products__time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.5;
  padding-right: 3px;
}
@media(max-width:426px){
  .products {
    margin-top: 30px;
  }
}
@media (max-width: 321px) {
  .products__item {
    margin-bottom: 20px;
  }
}

/* <------VIEWMORE BLOCK-------> */

.viewmore__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.viewmore__halfline {
  flex: 1 1 40%;
  width: auto;
  height: 0px;
  border: 1px solid #e5e5e5;
  margin: 0 15px;
}
.viewmore__button {
  width: 100%;
  max-width: 220px;
  height: 70.25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 29.8267px;
  line-height: 36px;

  color: #000000;

  background-color: #ffffff;
  border: 1px solid #fc0b0d;
  border-radius: 14.4439px;
}
@media (max-width: 600px) {
  .viewmore__button {
    width: 100%;
  }
}

/* <------FOOTER BLOCK-------> */

.footer {
  position: relative;
  margin-top: 72px;
  display: flex;
  justify-content: center;
  background-color: #eaf6ff;
  min-height: 404px;
}
.footer__row {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__textinfo {
  width: 50%;
}
.footer__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}
.footer__description {
  margin-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #504a41;
}
.footer__us {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.footer__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}
.footer__point {
  display: flex;
  align-items: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 29px;
}
.footer__point img {
  margin-right: 21px;
}
.footer__ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 43px;
}
.footer__ul li {
  margin-bottom: 18px;
}
.footer__ul a {
  text-decoration: none;
  color: #000000;
}
.footer__ul a:visited {
  text-decoration: none;
  color: #000000;
}

.footer__bgimg {
  position: absolute;
  right: 0;
  top: -65px;
  z-index: -9;
}

@media (max-width: 992px) {
  .footer__row {
    flex-direction: column;
  }
  .footer__textinfo {
    width: 100%;
    margin-bottom: 30px;
    padding: 0 10px;
  }
  .footer__us {
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
  }
  .footer__ul ul {
    margin-top: 29px;
  }
}
@media (max-width: 376px) {
  .footer__us {
    flex-direction: column;
  }
  .footer__contactus {
    margin-bottom: 20px;
  }
}
