ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #fff;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.body__container {
  width: 1440px;
  max-width: 1440px;
}

.header {
  background: linear-gradient(
      180deg,
      rgba(252, 11, 13, 0.2) -17.21%,
      rgba(74, 153, 211, 0) 75.91%
    ),
    #ffffff;
  opacity: 1;
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
  height: 105px;
  max-height: 105px;
  display: flex;
  justify-content: center;
}
.container {
  min-width: 1300px;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #4a99d3;
  padding-left: 150px;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__login {
  display: flex;
  align-items: center;
}
.header__text {
  padding-left: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #0f001a;
}
.header__sell {
  padding-left: 66px;
  display: flex;
  align-items: center;
}
.search {
  margin-top: 21px;
  display: flex;
  justify-content: center;
}
.search__container {
  width: 1300px;
  height: 365px;
  background-color: #eaf6ff;
  position: relative;
  display: flex;
  align-items: center;
}
.search__column {
  margin-left: 130px;
}
.search__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  padding-left: 35px;
  padding-bottom: 30px;
  color: #000000;
}
.search__bar {
  border: 3px solid rgba(252, 11, 13, 1);
  border-radius: 20px;
  width: 575px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__leanse {
  max-width: 100px;
  padding-left: 40px;
}
.search__input {
  width: 380px;
  height: 20px;
  background-color: #eaf6ff;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #004b84;
}
.search__input:focus {
  outline: none;
}
.search__input::placeholder {
  color: #004b84;
}
.search__sliders {
  max-width: 34.7px;
  padding-right: 30px;
}
.search__bgimg {
  position: absolute;
  max-width: 436px;
  bottom: -74px;
  right: 88px;
  display: block;
}
.viewcards {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.viewcards__row {
  display: flex;
  justify-content: space-between;
}
.viewcards__card {
  width: 626px;
  height: 303px;

  background-color: #fafafa;

  display: flex;

  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.viewcards__textColumn {
  padding: 0px 28px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.viewcards__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 29.65px;
  line-height: 36px;
}
.viewcards__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20.65px;
  line-height: 25px;
  padding: 22px 0px;
}
.viewcards__button button {
  background-color: #fc0b0d;
  border: none;
  width: 153px;
  height: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20.65px;
  line-height: 25px;
  border-radius: 10px;
}
.viewcards__img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  margin-top: 137px;
  display: flex;
  justify-content: center;
}
.products__box {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
}
.products__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 308px;
  height: 368px;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
  margin-right: 17px;
  margin-bottom: 80px;
}
.products__image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 265px;
}
.products__info {
  padding-left: 20px;
}
.products__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.products__pricecondition {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #eb3223;
}
.products__condition {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.08em;
  color: #fff;

  width: 40px;
  height: 16px;

  background-color: #f12b2c;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
}
.products__placetime {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__place {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.5;
}
.products__time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.5;
  padding-right: 3px;
}

.viewmore {
  display: flex;
  justify-content: center;
}
.viewmore__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.viewmore__halfline {
  width: 40%;
  height: 0px;
  border: 1px solid #E5E5E5;
}
.viewmore__button {
  width: 17%;
  height: 70.25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 29.8267px;
  line-height: 36px;

  color: #000000;

  background-color: #ffffff;
  border: 1px solid #fc0b0d;
  border-radius: 14.4439px;
}
